body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family:Heebo, Kanit;
    line-height: 1.9;
    background-color: rgb(199, 199, 199);
    color: whitesmoke;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 6px 5px 8px rgba(0, 0, 0, 0.2);
}
  
  .search {

    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  form {
    display: flex;
  }
  
  input {
    padding: 15px 10px;
    outline: none;
    width: 100%;
  }
  
  .li-container {
    background-color: whitesmoke;
    width: 100%;
    color: rgb(35, 72, 73);
    margin-top: 20px;
  }
  
  ul {
    padding: 0;
  }
  
  li {

    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;

  }
  
  li p {
    margin: 0;
    padding: 15px;
    width: 100%;
  }
  
  .btn-delete {
    font-family: Kanit;
    margin-left: auto;
    border: none;
    background-color: #d6254e;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 45px;
    font-size: 1.1em;
  }
  
  .btn-delete:hover {
    cursor: pointer;
    background-color: rgb(238, 97, 97);
  }
  
  .btn-add {
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
    font-size: 1.6rem;
    outline: none;
    
  }
  
  .btn-add:hover {
    cursor: pointer;
    background-color: rgb(0, 179, 179);
  }
  
  .empty {
    font-family: Kanit;
    color: darkslategrey;
  }